<%- include ('../public/page_header.ejs') %>



  <div class="container-fluid">
    <div class="row">


      <!--
                列表展示
            -->
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr class="th">
              <th>用户名</th>
              <th>角色</th>
              <th>mobile</th>
              <th>email</th>

              <th class="text-center">操作</th>
            </tr>
          </thead>
          <tbody>
            <% for (var i=0;i<adminList.length;i++) { %>
              <tr>
                <td> <%= adminList[i].username %></td>
                <td><%= adminList[i].role[0].title %></td>      
                <td><%= adminList[i].mobile %></td>
                <td><%= adminList[i].email %></td>
                <td class="text-center">
                  <a href="/<%= config.adminPath %>/manager/edit?_id=<%= adminList[i]._id %>">修改</a>             
                  <a class="delete" href="/<%= config.adminPath %>/manager/delete?_id=<%= adminList[i]._id %>">删除</a>    
           
                </td>
              </tr>
              <% } %>
          </tbody>
        </table>
      </div>

    </div>
  </div>
  </body>

  </html>